// Path: src\scss\base\_base.scss

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}

img, video, svg, picture {
  display: block;
  max-width: 100%;
}

li, a {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}
