/*
Project: Rohan Roleplay Website - Coopeak
Author:  Coopeak Software Development Team
Version: 1.0

This Copyright Legal Text (the "Agreement") is made and entered into on 21.3.2023 by Coopeak company, (hereinafter referred to as "Coopeak" or the "Company"), and Furkan Esen, Emir Ayaz, Ferhat Ege Orhan, Halit Hamza Şeker, Oğulcan Öztürk, İhsan Çarkcı (hereinafter referred to as the "Creators").

The purpose of this Agreement is to protect the proprietary rights of Coopeak in the software that has been created by the Creators (the "Software"). The Software is a valuable, confidential, and proprietary asset of Coopeak and is protected by copyright law.

The Creators hereby acknowledge that the Software is the sole and exclusive property of Coopeak and that the Creators have no right, title or interest in or to the Software except as expressly set forth in this Agreement. The Creators shall not copy, publish, distribute, or otherwise use the Software except as specifically authorized by Coopeak in writing.

The Creators agree to hold the Software in confidence and to take all reasonable steps to protect the confidential information of Coopeak, including but not limited to, using at least the same degree of care as the Creators use to protect their own confidential information of like importance, but in no event using less than a reasonable degree of care.

This Agreement shall be binding upon the Creators and their respective successors, assigns, and legal representatives. The Creators may not assign their rights or delegate their duties under this Agreement without the prior written consent of Coopeak.

Coopeak shall have the right to terminate this Agreement at any time if the Creators breach any of the provisions of this Agreement. Upon termination, the Creators shall immediately return all confidential information of Coopeak, including all copies of the Software.

IN WITNESS WHEREOF, the parties have executed this Agreement as of the date first written above.

Furkan Esen, Emir Ayaz, Ferhat Ege Orhan, Halit Hamza Şeker, Oğulcan Öztürk, İhsan Çarkcı

Coopeak

*/

@import "abstracts/mixins";
@import "abstracts/variables";
@import "abstracts/helpers";

@import "base/base";
@import "base/typography";

@import "layout/grid";
@import "layout/form";
@import "layout/header";
@import "layout/footer";

@import "pages/home";

@import "themes/dark";

@import "vendors/coopeak";
